@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;900&display=swap");
:root {
  --bacground-color: #14213D;
  --table-color: #FFEDDF;
  --header-color: #5DD9C1;
  --tasklist-color: #000000;
  --h1-fw: 900;
  --h2-fw: 400;
  --text-fw: 200;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bacground-color);
  font-family: 'Titillium Web', sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 50vw;
  max-width: 1200px;
  min-width: 360px;
}

.title {
  color: var(--header-color);
  font-weight: var(--h1-fw);
  font-size: calc(1vw + 2rem);
  text-align: center;
  letter-spacing: 2px;
}

.table {
  color: var(--table-color);
  max-width: 50%;
  min-width: 160px;
  padding: 10px;
  margin-top: -20px;
}

.table__title {
  font-weight: var(--h2-fw);
}

.table__lists {
  font-weight: var(--text-fw);
  padding: 0;
  letter-spacing: 2px;
  line-height: 1.8;
}

.table__list {
  cursor: pointer;
  padding-left: 0.5rem;
  -webkit-transition: color 250ms ease-in;
  transition: color 250ms ease-in;
}

.table__list-active {
  font-weight: bolder;
  color: var(--header-color);
  letter-spacing: 2px;
}

.table__list:hover {
  color: var(--header-color);
}

.table__list:active {
  color: #00b3d3;
}

.table__list:focus {
  font-weight: bold;
}

.table__form input {
  width: 120%;
}

.list-creator {
  background-color: #dfdfdf;
  max-width: 360px;
}

.list-table {
  max-width: 360px;
  padding: 2rem;
}

.tasklist {
  color: var(--tasklist-color);
}

.tasklist__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  background-color: #b3b3b3;
}

.tasklist__title {
  font-weight: var(--h2-fw);
  font-size: 1.2rem;
  margin: 0;
}

.tasklist__items {
  font-weight: var(--text-fw);
  font-size: 0.8rem;
  margin-left: 1rem;
}

.tasklist__tasks {
  padding: 1rem 2rem 0;
  letter-spacing: 1px;
}

.tasklist__task {
  font-weight: var(--text-fw);
  opacity: 0;
  position: absolute;
}

.tasklist__task:focus + label .custom-checkbox {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.tasklist__task:checked + label .custom-checkbox {
  background-color: var(--header-color);
}

.tasklist__task:checked + label {
  opacity: 0.15;
}

.tasklist__input {
  position: relative;
}

.tasklist__input:hover .custom-checkbox {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#tasklist-form {
  padding: 0 2rem 0;
}

.form {
  margin-top: 2em;
}

.form__label {
  display: block;
}

.form__input {
  display: block;
  border: none;
  width: 100%;
  height: 20px;
}

.form__input:focus {
  outline: 1px solid #5DD9C1;
}

.form__input:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

.form__input:focus:-ms-input-placeholder {
  opacity: 0.5;
}

.form__input:focus::-ms-input-placeholder {
  opacity: 0.5;
}

.form__input:focus::placeholder {
  opacity: 0.5;
}

.form__submit {
  background-color: var(--header-color);
  font-family: 'Titillium Web', sans-serif;
  margin-top: 0.5rem;
  width: 5rem;
  border: 1px solid transparent;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-transition: background-color 250ms ease-in;
  transition: background-color 250ms ease-in;
}

.form__submit:hover {
  background-color: #00d3a9;
}

.form__submit:active {
  background-color: #00b3d3;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem 2rem;
}

.clear-done {
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 1px;
  background-color: transparent;
  border: 1px solid transparent;
  margin-top: 2rem;
  width: 8rem;
  cursor: pointer;
  -webkit-transition: color 250ms ease-in;
  transition: color 250ms ease-in;
}

.clear-done:hover {
  color: #00d3a9;
}

.clear-done:active {
  color: #00b3d3;
}

.custom-checkbox {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  cursor: pointer;
  border: 1px solid #5DD9C1;
  border-radius: 50%;
  margin-left: 0.5em;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

@media screen and (max-width: 600px) {
  main {
    display: block;
  }
  .list-table {
    max-width: 360px;
    padding: 0 2rem 2rem;
  }
}
/*# sourceMappingURL=style.css.map */